@import "../../../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.footer {
  font-family: "Lexend";
  height: max-content;

  .disabled {
    color: rgba(128, 128, 128, 0.644);
    a:hover {
      color: rgba(128, 128, 128, 0.644);
      cursor: default;
    }
  }
  .container {
    display: flex;
    height: max-content;
    background-color: $navFooColor;
    justify-content: space-evenly;
    justify-content: space-between;
    padding: 1rem 5%;
    align-items: center;
    font-family: "Lexend";

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        text-align: center;
        margin: 0.5rem 0;
        font-weight: 400;
        &:hover {
          cursor: pointer;
          color: $elementsColor;
          transition: all 0.4s ease;
        }
      }
    }
    .contact {
      width: 30%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      a {
        margin: 0.2rem;
        svg {
          transition: all 0.1s ease;
          &:hover {
            transform: scale(1.2);
            transition: all 0.1s ease;
          }
        }
      }
      .btnLogo {
        background-image: url("../navbarUser/img/Group.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 50px;
        width: 60px;
        border-radius: 10px;
        &:hover {
          transform: scale(1.5);
          transition: all 0.4s ease;
        }
      }
      // &:first-of-type {
      //   width: 30%;
      //   align-self: center;
      // }
      .instagram {
        background-image: url("./img/instagram.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
      }
      .linkedin {
        background-image: url("./img/linkedin.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
      }
      .facebook {
        background-image: url("./img/facebook.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
      }
      .whatsapp {
        background-image: url("./img/whatsapp.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
      }
      .emailIcon {
        background-image: url("./img/email.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
      }
      .tiktok {
        background-image: url("./img/tiktok.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
      }
    }
  }
  .phrase {
    h3 {
      height: 15px;
      margin: 0;
      font-size: 0.8rem;
      text-align: center;
      font-weight: 400;
    }
  }
}

@media (max-width: 481px) {
  .footer {
    .container {
      padding: 1rem;
    }
    .contact {
      flex-flow: column wrap;
      justify-content: space-between;
      align-content: center;
      height: 150px;
      
      a {
        width: 30px;
      }
    }
  }
}
