@import "../../../styles/variables.scss";
.footer {
  height: max-content;
  font-weight: bold;
  .disabled {
    color: rgba(128, 128, 128, 0.644);
    a:hover {
      color: rgba(128, 128, 128, 0.644);
      cursor: default;
    }
  }
  .container {
    display: flex;
    height: max-content;
    background-color: $navFooColor;
    justify-content: space-between;
    padding: 1rem 5%;
    align-items: center;
    font-family: Lexend;
    font-weight: 200;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        text-align: center;
        margin: 0.5rem 0;
        font-weight: 700;
        &:hover {
          cursor: pointer;
          color: $elementsColor;
        }
      }
      .btnLogo {
        background-image: url("../navbarUser/img/Group.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 50px;
        width: 60px;
        border-radius: 10px;

        &:hover {
          transform: scale(1.5);
        }
      }
      &:first-of-type {
        width: 30%;
        li {
          text-align: left;
        }
      }
    }
    .contact {
      width: 30%;
      display: flex;
      a {
        margin: 0.2rem;
        svg {
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .instagram {
        background-image: url("./img/instagram.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
      }
      .linkedin {
        background-image: url("./img/linkedin.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
      }
      .facebook {
        background-image: url("./img/facebook.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
      }
      .whatsapp {
        background-image: url("./img/whatsapp.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
      }
      .emailIcon {
        background-image: url("./img/email.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
      }
      .tiktok {
        background-image: url("./img/tiktok.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
      }
    }
  }
  .phrase {
    h3 {
      height: 15px;
      margin: 0;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
@media (max-width: 480px) {
  .footer {
    .container {
      padding: 1rem;
    }
    .contact {
      flex-direction: column;
      justify-content: space-evenly;
      div {
        align-self: center;
      }
      a {
        width: 30px;
      }
    }
  }
}
