.navWrapper {
  bottom: 0;
  height: 100vh;
  left: 0;
  position: sticky !important;
  top: 0;
  width: 15%;
  // background-color: #f99ab3;
  background-color: #a4d7bd;
  .profilePicture {
    height: 60px;
    width: 60px;
  }
  p {
    padding: 0;
    margin: 0;
  }
  .separator {
    background-color: white;
    height: 0.5px;
    width: 100%;
  }
  .link-nav:hover {
    text-decoration: none;
    text-transform: none;
  }
}

.navButton {
  background-color: white;
  height: 0.5px;
  width: 100%;
}

.buttonElement {
  // padding: 50px 0;
  // text-align: center;
  height: 10vh;
  padding: 50px;
  margin-right: 0rem;
  margin-left: 0;
  border-bottom: 0.5px solid white;
}

.buttonLogout {
  // padding: 50px 0;
  // text-align: center;
  height: 10vh;
  padding: 50px;
  margin-right: 0rem;
  margin-left: 0;
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
}

.buttonBlank {
  height: 45vh;
  margin-right: 0rem;
  margin-left: 0;
}

.textDecoration {
  color: red;
}
