@import "../../../styles/variables.scss";

.navTop {
  font-family: Lexend;
  height: 67px;
  width: 100%;
  background-color: $navFooColor;
  display: flex;
  justify-content: space-between;
  .btnLogo {
    width: 60px;
    height: 53.66px;
    background-image: url(./img/Group.svg);
    background-position: center;
    background-size: cover;
    margin: 0 1rem 0 0.5rem;
    align-self: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  h3 {
    width: 110px;
    text-align: center;
    align-self: center;
    font-weight: 300;
  }
  .searchBar {
    display: flex;
    .drop {
      align-self: center;
      cursor: pointer;
    }
    input {
      height: 41px;
      align-self: center;
      border-color: transparent;
      border-style: solid;
      padding-left: 0.2rem;
      width: 30vw;
      &::placeholder {
        font-family: Lexend;
        font-size: 14px;
        font-weight: 300;
      }
      &:focus-within {
        outline-color: $elementsColor;
      }
    }
    .search {
      height: 41px;
      width: 41px;
      align-self: center;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-color: transparent;
      background-color: $secondNavColor;
      cursor: pointer;
    }
  }
  .settings {
    display: flex;
    .user {
      align-self: center;
      display: flex;
      height: 50px;
    }
    .exit {
      align-self: center;
      display: flex;
      height: 50px;
    }
  }
}
.navBot {
  background-color: $secondNavColor;
  font-family: Playfar;
  height: 42px;
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    margin: 0;
    list-style: none;
    align-self: center;
    padding: 0;
    li {
      margin: 0 0.5rem;
    }
  }
  a {
    align-self: center;
  }
}

@media (max-width: 480px) {
  .navTop {
    height: 42px;
    background-color: $navFooColor;
    .btnLogo {
      display: inline-block;
    }
    .drop {
      display: none;
    }
    .location {
      display: none;
    }
    input {
      display: none;
    }
    button {
      display: none;
    }
  }
  .navBot {
    display: none;
  }
}
