.card {
  height: 430px;
  width: 40%;
  backface-visibility: hidden;
  box-shadow: none;
  background: none;
  position: relative;
  perspective: 150rem;
  .frontSide {
    background-color: transparent;
    background-image: url(../img/suscripcion-free-alba-maternidad.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    height: 430px;
    width: 100%;
    position: absolute;
  }
  .backSide{
    display: none;
  }
}

@media screen and (min-device-width: 768px) {
  .card {
    height: 430px;
    width: 291px;
    backface-visibility: hidden;
    box-shadow: none;
    background: none;
    position: relative;
    perspective: 150rem;
    &:hover {
      .frontSide {
        transform: rotateY(180deg);
      }
      .backSide {
        transform: rotateY(0deg);
      }
    }
    .frontSide {
      background-color: transparent;
      background-image: url(../img/suscripcion-free-alba-maternidad.png);
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 0.8s ease;
      backface-visibility: hidden;
      height: 430px;
      width: 291px;
      position: absolute;
    }
    .backSide {
      display: unset;
      padding: 2rem;
      border-radius: 50px;
      transition: all 0.8s ease;
      transform: rotateY(-180deg);
      background-color: hotpink;
      transition: all 0.8s ease;
      backface-visibility: hidden;
      height: 430px;
      width: 291px;
      position: absolute;
    }
  }
}
