@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.document {
  padding: 1rem 2rem;
  font-family: "Lexend";
  text-align: justify;
  font-weight: 400;
  h1 {
    color: $elementsColor;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  h3 {
    font-weight: 400;
  }
  p {
    padding: 0.5rem 0;
    font-weight: 400;
  }
  ul {
    margin-left: 1rem;
    font-weight: 400;
  }
}
