@import "./variables.scss";

.body {
  background-color: $backgroundColor;
  width: 100%;
  .backSide {
    display: none;
  }
  .video {
    width: 100%;
    height: auto;
    z-index: 999;
  }
  .cursos {
    align-items: center;
    background-image: url("../src/img/young.png");
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    height: 664px;
    justify-content: flex-end;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 62px;
  }
  .suscriptions {
    font-family: Lexend;
    height: 81px;
    background-color: $navFooColor;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-weight: bold;
    }
  }
  .cards {
    display: flex;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 10px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: auto;
    margin: 10px 0;
    padding: 10px;
    width: 70%;
    z-index: 99;

    h3 {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 26px;
      color: $elementsColor;
      text-align: center;
      overflow-wrap: break-word;
      text-transform: uppercase;
    }
    p {
      font-family: "Lexend", sans-serif;
      font-weight: 20px;
      font-weight: 300;
    }
    button {
      background-color: transparent;
      border-radius: 18px;
      border: 3px solid $elementsColor;
      color: $elementsColor;
      cursor: pointer;
      font-weight: bold;
      font-size: 18px;
      margin-top: 20px;
      text-transform: uppercase;
      transition: all 300ms;
      padding: 0.5rem 1rem;
      &:hover {
        border: none;
        color: white;
        background-color: #1b9b8e;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .body {
    .card {
      height: 90%;
      padding: 20px;
      width: 40%;
      button {
        margin: 0 auto;
        width: 50%;
      }
    }
  }
}
